*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
    
}
.nav-logo img{
    width: 100px;
    height: 50px;
    position: relative;
    left: 90px;
    top: 30px;
}
ul{
    display: flex;
    gap: 30px;
    position: relative;
    left: 200px;
    list-style-type: none;
}
 a{
    text-decoration: none;
    color: white;
}
.wrapper_video{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    }
    .video{
    width: 100%;
    height: 900px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;}
    

nav{
    position: absolute;
    top: 1px;
    z-index: 2;
}
.row{
    z-index: 2;
    position: absolute;
    top: 450px;
    left: 100px;
}
.row1{
    z-index: 2;
    position: absolute;
    top: 450px;
    left: 250px;
}
.h11{
    font-family: Arial;
    font-size: 17.19px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;  
    color: white;  
}
.h111{
    font-family: Arial;
    font-size: 41.06px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;  
    color: white;  
}
.row button, .row1 button{
    width: 130px;
    height: 50px;
    top: 108.5px;
    padding: 0px 42.07px 0px 42px;
    gap: 0px;
    opacity: 0px;
    border: 2px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}
footer{
    background-color: black;
    width: 100%;
    height: 81px;
    padding: 23px 0px 20px 0px;
    gap: 0px;
    opacity: 0px;  
    z-index: 2; 
     position: absolute;
     bottom: 0px;
}
.footer-ul{
    padding-left: 170px;
}